body {
    min-width: 500px;
    height: 100vh;
    min-height: 150px;
    font-size: 100%;
}

footer {
    font-family: "Archivo";
    font-size: 1em;
    color: white;
    text-align: center;
    padding-top: 15%;
    padding-bottom: 5%;
}

.navbar img {
    max-width: 13%;
    margin-left: 20px;
}

.navbar-collapse {
    flex-grow: 0;
}

.top-navbar {
    display: flex;
    align-items: center;
    padding-right: 30px;
}

.top-navbar-drop {
    font-family: JetBrains Mono;
    color: white !important;
}

.top-navbar-drop:hover {
    color: black !important;
}

.linkin-image,
.github-image {
    display: flex;
    justify-content: center;
    width: 50px;
    height: auto;
    padding-left: 15px;
}

.github-image {
    display: inline;
}

.nav-link {
    font-family: JetBrains Mono;
    font-size: 20px;
}

.homepage {
    background-image: url("/images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.homepage-heading {
    padding: 12% 10% 0%;
}

.homepage-heading h1 {
    font-family: "Bayon";
    font-size: 12vw;
    text-align: right;
    margin-bottom: 0px;
}

.homepage-heading h2 {
    font-family: "Archivo Narrow";
    font-size: 12vw;
    line-height: 10vw;
}

.homepage-heading .front-end {
    text-align: left;
}

.homepage-heading .developer {
    text-align: center;
}

.homepage-heading-button {
    font-family: "Archivo";
    font-size: 50px;
    float: left;
    color: black;
    text-decoration: none;
    border: 1px solid #f8d354;
    background: #f8d354;
    padding: 1% 2%;
    border-radius: 90px;
    box-shadow: 4px 3px 6px #a5a5a5;
}

.my-work {
    background-color: #363131;
    padding: 6% 18% 0%;
}

.my-work h2 {
    font-size: 12vw;
    color: white;
    font-family: "Bayon";
    text-shadow: 4px 0px 0px #9ca16f;
    padding-bottom: 3%;
}

.my-work h6 {
    font-family: Archivo Narrow;
    font-size: 3em;
}

.my-work .my-work-wrapper {
    background-color: white;
    padding: 5% 5%;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 5%;
}

.my-work img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 4px 3px 6px #a5a5a5;
}

.my-work p,
a {
    font-family: "Archivo";
    font-size: 1.5em;
    color: #636262;
}

.my-work a {
    text-decoration: none;
    color: #9671f3;
    border-radius: 10px;
}

.my-work a:hover {
    color: rgb(240, 78, 105);
}

.my-work-button {
    border: 1px solid #9671f3;
    padding: 2% 2%;
}

.pages-wrapper .about-pages {
    background-image: url("/images/about-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4px 13% 0%;
    margin-left: 0;
    margin-right: 0;
}

.pages-wrapper .about-pages {
    margin-top: 100px;
}

.pages-wrapper .row {
    display: flex;
    justify-content: space-between;
}

.pages-wrapper h1 {
    font-family: "Bayon";
    font-size: 12vw;
    padding-left: 13vw;
    text-align: right;
    line-height: 1;
}


/* .pages-wrapper .about-pages h1 {
    padding-left: 8vw;
} */

.pages-wrapper h2 {
    font-size: 8vw;
    font-family: "Archivo Narrow";
    color: #5a5a5a;
    line-height: 1;
}

.pages-wrapper h6 {
    font-size: 3vw;
    font-family: "Archivo";
    color: #5a5a5a;
    padding-left: 20vw;
}

.pages-wrapper .about-pages .janis-image {
    width: 28vw;
    height: auto;
}

.pages-wrapper hr {
    border: none;
    height: 12px;
    background: rgb(14, 1, 3);
    opacity: 100;
    margin-bottom: 50px;
}

@media (max-width: 1200px) {
    .homepage-heading h1 {
        display: inline-block;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 10vw;
    }
    .homepage-heading .front-end {
        text-align: center;
        margin-top: 5vw;
    }
    .homepage-heading h2 {
        line-height: 0;
        padding-bottom: 8vw;
        font-size: 10vw;
    }
    .homepage-heading-button {
        float: none;
        display: block;
        font-size: 4vw;
        padding: 1% 2%;
        margin: 0 20vw 3vw;
        text-align: center;
    }
}

@media (max-width: 992px) {
    .top-navbar .col {
        flex: 0;
    }
    .top-navbar .row {
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .homepage-heading .front-end {
        margin-top: 10vw;
        margin-bottom: 5vw;
    }
    .homepage-heading h1 {
        font-size: 16vw;
    }
    .homepage-heading h2 {
        font-size: 12vw;
    }
}

@media (max-width: 612px) {
    .homepage-heading .front-end {
        padding: 10vw;
    }
    .my-work h6 {
        font-size: 9vw;
    }
    .my-work p {
        font-size: 4vw;
    }
}